<li class="closed expandable">
  <div class="hitarea closed-hitarea expandable-hitarea"></div>
  <span class="folder"><%= item.name %></span>
  <ul>
    <% for subitem in item.items %>
      <% if subitem.is_a?(TvFolder) %>
        <%= erb :tvfolder, :locals => { :item => subitem, :update_target => update_target } %>
      <% end %>
      <% if subitem.is_a?(TvItem) %>
        <%= erb :tvitem, :locals => { :tvitem => subitem, :update_target => update_target } %>
      <% end %>
    <% end %>
  </ul>
</li>

